<div class="container clear">
  <div class="wraper">

	<!-- stat_bar -->
    {{# view Sitterfied.FixedView class="stat_bar clear" id="fixed_tabs" }}
      {{# if id_verified}}
	    <p><span class="icon_check2">&nbsp;</span>Background Cleared</p>
      {{/ if}}
	  <ul>
		<li><span class="icon_pin6">&nbsp;</span>{{city}}, {{state}}</li>
		<li><span class="icon_dollar2">&nbsp;</span>from ${{one_child_min_rate}} /hr</li>
		<li><span class="icon_review2">&nbsp;</span>{{reviews.length}} reviews</li>
		<li><span class="icon_friends8">&nbsp;</span>{{friends.length}} sitter friends</li>
	  </ul>
    {{/ view}}
	<!-- /stat_bar -->

	<!-- tabs_wrap -->
	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li>{{# linkTo sitter.about }}About{{/linkTo}}</li>
		<li>{{# linkTo sitter.reviews }}Reviews{{/linkTo}}</li>
		<li>{{# linkTo sitter.friends }}Friends{{/linkTo}}</li>
	  </ul>
      {{outlet}}
	</div>
	<!-- /tabs_wrap -->

  </div>
</div>