{{#linkTo sitterEdit.profile tag="div" class="mob_tab_trigger"}}Profile{{/linkTo}}
<!-- schedule_block -->
{{# view Sitterfied.MobTriggerView }} Schedule {{/ view}}
	  <div class="tab_content schedule_block" id="tab-2">
			<p>Please indicate your typical availability here.
          <span>
            <img src="/static/images/available.jpg" alt="" />Available
            <img src="/static/images/unavailable.jpg" alt="" />Unavailable
          </span>
          {{view Sitterfied.AjaxStatusButtonView action="saveSchedule"}}
      </p>
		<ul>
		  <li>
			<ul>
			  <li><a {{action 'checkAll'}}>Check All</a> | <a {{action 'clearAll'}}>Clear All</a></li>
			  <li>Sun</li>
			  <li>Mon</li>
			  <li>Tues</li>
			  <li>Wed</li>
			  <li>Thurs</li>
			  <li>Fri</li>
			  <li>Sat</li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Early Morning</strong> (6am - 9am)<span>6 - 9 AM</span></li>
			  <li>{{view Ember.Checkbox checkedBinding="sun_early_morning" id="sun_1"}}<label for="sun_1">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="mon_early_morning" id="mon_1"}}<label for="mon_1">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="tue_early_morning" id="tue_1"}}<label for="tue_1">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="wed_early_morning" id="wed_1"}}<label for="wed_1">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="thu_early_morning" id="thu_1"}}<label for="thu_1">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="fri_early_morning" id="fri_1"}}<label for="fri_1">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="sat_early_morning" id="sat_1"}}<label for="sat_1">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Late Morning</strong> (9am - 12pm)<span>9 - 12 PM</span></li>
			  <li>{{view Ember.Checkbox checkedBinding="sun_late_morning" id="sun_2"}}<label for="sun_2">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="mon_late_morning" id="mon_2"}}<label for="mon_2">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="tue_late_morning" id="tue_2"}}<label for="tue_2">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="wed_late_morning" id="wed_2"}}<label for="wed_2">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="thu_late_morning" id="thu_2"}}<label for="thu_2">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="fri_late_morning" id="fri_2"}}<label for="fri_2">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="sat_late_morning" id="sat_2"}}<label for="sat_2">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Early Afternoon</strong> (12pm - 3pm)<span>12 - 3 PM</span></li>
			  <li>{{view Ember.Checkbox checkedBinding="sun_early_afternoon" id="sun_3"}}<label for="sun_3">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="mon_early_afternoon" id="mon_3"}}<label for="mon_3">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="tue_early_afternoon" id="tue_3"}}<label for="tue_3">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="wed_early_afternoon" id="wed_3"}}<label for="wed_3">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="thu_early_afternoon" id="thu_3"}}<label for="thu_3">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="fri_early_afternoon" id="fri_3"}}<label for="fri_3">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="sat_early_afternoon" id="sat_3"}}<label for="sat_3">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Late Afternoon</strong> (3pm - 6pm)<span>3 - 6 PM</span></li>
			  <li>{{view Ember.Checkbox checkedBinding="sun_late_afternoon" id="sun_4"}}<label for="sun_4">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="mon_late_afternoon" id="mon_4"}}<label for="mon_4">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="tue_late_afternoon" id="tue_4"}}<label for="tue_4">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="wed_late_afternoon" id="wed_4"}}<label for="wed_4">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="thu_late_afternoon" id="thu_4"}}<label for="thu_4">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="fri_late_afternoon" id="fri_4"}}<label for="fri_4">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="sat_late_afternoon" id="sat_4"}}<label for="sat_4">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Early Evening</strong> (6pm - 9pm)<span>6 - 9 PM</span></li>
			  <li>{{view Ember.Checkbox checkedBinding="sun_early_evening" id="sun_5"}}<label for="sun_5">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="mon_early_evening" id="mon_5"}}<label for="mon_5">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="tue_early_evening" id="tue_5"}}<label for="tue_5">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="wed_early_evening" id="wed_5"}}<label for="wed_5">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="thu_early_evening" id="thu_5"}}<label for="thu_5">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="fri_early_evening" id="fri_5"}}<label for="fri_5">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="sat_early_evening" id="sat_5"}}<label for="sat_5">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Late Evening</strong> (9pm - 12am)<span>9 - 12 AM</span></li>
			  <li>{{view Ember.Checkbox checkedBinding="sun_late_evening" id="sun_6"}}<label for="sun_6">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="mon_late_evening" id="mon_6"}}<label for="mon_6">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="tue_late_evening" id="tue_6"}}<label for="tue_6">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="wed_late_evening" id="wed_6"}}<label for="wed_6">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="thu_late_evening" id="thu_6"}}<label for="thu_6">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="fri_late_evening" id="fri_6"}}<label for="fri_6">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="sat_late_evening" id="sat_6"}}<label for="sat_6">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Overnight</strong> (12am - 6am)<span>12 - 6 AM</span></li>
			  <li>{{view Ember.Checkbox checkedBinding="sun_overnight" id="sun_7"}}<label for="sun_7">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="mon_overnight" id="mon_7"}}<label for="mon_7">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="tue_overnight" id="tue_7"}}<label for="tue_7">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="wed_overnight" id="wed_7"}}<label for="wed_7">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="thu_overnight" id="thu_7"}}<label for="thu_7">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="fri_overnight" id="fri_7"}}<label for="fri_7">&nbsp;</label></li>
			  <li>{{view Ember.Checkbox checkedBinding="sat_overnight" id="sat_7"}}<label for="sat_7">&nbsp;</label></li>
			</ul>
		  </li>
		</ul>
		<div><a href="#">Check All</a> | <a href="#">Clear All</a><br /><a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a></div>
	  </div>
	  <!-- /schedule_block -->
      {{#linkTo mybookings tag="div" class="mob_tab_trigger"}}Bookings{{/linkTo}}
      {{#linkTo sitterEdit.network tag="div" class="mob_tab_trigger"}}Network{{/linkTo}}
      {{#linkTo sitterEdit.reviews tag="div" class="mob_tab_trigger"}}Reviews{{/linkTo}}
