<div class="container clear">
  <div class="wraper">
	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li>{{#linkTo parentEdit.profile content }}Profile{{/linkTo}}</li>
		<li>{{#linkTo mybookings }}Bookings{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.sitterTeam content }}Sitter Team{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.network content }}Network{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.reviews content }}Reviews{{/linkTo}}</li>
	  </ul>
      {{# if Sitterfied.isParent }}
        {{#linkTo parentEdit.profile content  tag="div" class="mob_tab_trigger"}}Profile{{/linkTo}}
      {{/ if }}
      {{# view Sitterfied.MobTriggerView }} Bookings {{/ view}}
        {{# view Sitterfied.SubTabView }}
        <div class="tab_content bookings_block" id="tab-3">
	      <ul class="subtab_select">
	        <li>{{# linkTo mybookings.pending }}
              <span>{{controllers.bookings.pendingRequests.length}}
              </span>Pending Requests{{/ linkTo }}
            </li>
	        <li>
              {{# linkTo mybookings.upcoming }}
                <span>{{controllers.bookings.upcomingJobs.length}}
                </span>Upcoming Jobs
              {{/ linkTo}}
            </li>
	        <li>
              {{# linkTo mybookings.completed }}
                <span>{{controllers.bookings.completedJobs.length}}</span>Completed Jobs
              {{/ linkTo}}
            </li>
	        <li>
              {{# linkTo mybookings.missed }}
                <span>{{controllers.bookings.missedRequests.length}}</span>Missed Requests
              {{/ linkTo}}
            </li>
	        <li>
              {{# linkTo mybookings.declined }}
                <span>{{controllers.bookings.declinedRequests.length}}
                </span>Declined&nbsp; Jobs
              {{/ linkTo}}
            </li>
	        <li>
              {{# linkTo mybookings.canceled }}
                <span>{{controllers.bookings.canceledRequests.length}}
                </span>Canceled Jobs
              {{/ linkTo}}
            </li>
	      </ul>
          {{outlet}}
        </div>
        {{/ view}}
{{# if Sitterfied.isParent }}
  {{#linkTo parentEdit.sitterTeam content tag="div" class="mob_tab_trigger"}}Sitter Team{{/linkTo}}
  {{#linkTo parentEdit.network content tag="div" class="mob_tab_trigger"}}Network{{/linkTo}}
  {{#linkTo parentEdit.reviews content tag="div" class="mob_tab_trigger"}}Reviews{{/linkTo}}
{{/ if }}

	</div>
  </div>
</div>
