{{# linkTo search class="back"}}Back to search results{{/linkTo}}
<!-- top note form -->
<div class="top_note_form clear">
  <div class="add_note"><span class="icon_note">&nbsp;</span>Add a note</div>
  {{view Ember.TextArea valueBinding=notes}}
  <p>
    <span>If everything looks good below, send away!</span>
    <a class="button button_small button_cancel" {{ action 'cancel' }}>
      <span class="icon_cancel">&nbsp;</span>
      CANCEL
    </a>
    <a class="button button_small bookButton" {{ action 'book' }}>
      <span class="icon_ok2">&nbsp;</span>
      {{#if isLoading}}
	<i class="fa fa-spinner fa-spin"></i>
      {{else}}
	SEND
      {{/if}}
    </a>
  </p>
</div>
<!-- /top note form -->
<!-- top_personal_info -->
{{# view Sitterfied.FixedView  id="fixed_tabs" }}
  <div class="top_personal_info clear">
    {{# if multiple }}
	<div class="my">
	  Request<br />multiple<br />sitters
	</div>
    {{else}}
	<div class="img_name">
	  <img  height=73 width=73 {{bindAttr src=sitter.avatarUrl alt=sitter.full_name}} />
      {{# if isInterview}}
        <span>Interview {{sitter.first_name}}</span>
      {{ else }}
	    <span>Book {{sitter.first_name}}</span>
      {{/if }}
	</div>
    {{/if}}
    {{partial "smallBooking"}}
  </div>
{{/ view}}
