	  <!-- profile_block -->
	  <div class="mob_tab_trigger active">Profile
      </div>
	  <div class="tab_content profile_block parent_profile_block" id="tab-1">
		<form method="post" action="#" class="form_style">
		  <ul>
			<li>
			  <ul>
				<li>
                  <span class="icon_friends6">&nbsp;
                  </span>Children
                </li>
				<li>
				  <p class="child_number">
                    <a class="button button_smaller button_edit" {{action "newChild"}}>
                      <span class="icon_plus">&nbsp;
                      </span>ADD ANOTHER CHILD
                    </a>
                  </p>
                  {{# each child in controllers.children }}
                    {{partial "child"}}
                  {{/each}}
				  <a class="button button_small" {{action "saveSettings"}}>
                    <span class="icon_ok2">&nbsp;
                    </span>Save
                  </a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li>
                  <span class="icon_pin4">&nbsp;
                  </span>Home Address
                </li>
				<li>
				  <p>
                    <span>&nbsp;
                    </span>
                    {{view Ember.TextField placeholder="Street address" valueBinding="address1"}}
                    {{view Ember.TextField placeholder="Apt/Suite" valueBinding="address2" class="small"}}
                  </p>
				  <p>
                    <span>&nbsp;
                    </span>
                    {{view Ember.TextField placeholder="Zip Code" valueBinding="zip" class="small"}}
                    {{view Ember.TextField placeholder="City" valueBinding="city"}}
                    {{ view Sitterfied.Select2
                         viewName="fieldValueSelect2"
        	             prompt="Select State"
                         contentBinding="Sitterfied.States"
                         optionLabelPath="content"
                         optionValuePath="content"
                         selectionBinding="state"
                         required="" }}
                  </p>
                  <a class="button button_small" {{action 'saveSettings'}}><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li>
                  <span class="icon_iphone2">&nbsp;
                  </span>Cell Phone Number
                </li>
				<li>
				  <p>
                    <span>&nbsp;
                    </span>
                    {{view Ember.TextField placeholder="(123) 456-7890" valueBinding="cell" }}
                  </p>
                  <a class="button button_small" {{action 'saveSettings'}}><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li>
                  <span class="icon_email3">&nbsp;
                  </span>Email Address
                </li>
				<li>
				  <p>
                    <span>&nbsp;
                    </span>
                    {{view Ember.TextField placeholder="Email" valueBinding="email"}}
                  </p>
                  <a class="button button_small" {{action 'saveSettings'}}><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li>
                  <span class="icon_emergency2">&nbsp;
                  </span>Emergency Contacts
                </li>
				<li>
				  <p>
                    <span>NAME
                    </span>
                    {{view Ember.TextField placeholder="John Smith" valueBinding="emergency_contact_one_name" }}
                    <span>PHONE
                    </span>
                    {{view Ember.TextField placeholder="(123) 456-7890" valueBinding="emergency_contact_one_phone" }}
                  </p>
				  <p>
                    <span class="two_row">PEDIATRICIAN’S NAME
                    </span>
                    {{view Ember.TextField placeholder="Jane Smith" valueBinding="emergency_contact_two_name" }}
                    <span class="two_row">PEDIATRICIAN’S PHONE
                    </span>
                    {{view Ember.TextField placeholder="(123) 456-7890" valueBinding="emergency_contact_two_phone" }}
                  </p>
				  <a class="button button_small" href="#">
                    <span class="icon_ok2">&nbsp;
                    </span>Save
                  </a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li>
                  <span class="icon_lng2">&nbsp; </span>Languages
                </li>
				<li>
				  <p>
                    <span>I speak:</span>
                      {{# if controllers.languages.content.content }}
                      {{view Sitterfied.Select2
                      contentBinding=controllers.languages
        	          prompt="Select languages"
                      optionLabelPath="content.language"
                      optionValuePath="content"
                      selectionBinding="languages"
                      multiple="multiple"
                      }}
                     {{/if}}
                    </p>
				    <p>
                      <span>add another (if not listed above):
                      </span>{{view Ember.TextField valueBinding="controllers.languages.newLanguage"}}
                      <a style="top:0px;" class="button button_smaller button_edit" {{action 'saveLanguage'}}>
                        <span  class="icon_plus">&nbsp;
                        </span>ADD
                      </a>
                    </p>
                    <a class="button button_small" {{action 'saveSettings'}}>
                      <span class="icon_ok2">&nbsp;
                      </span>Save
                    </a>
				</li>
			  </ul>
            </li>
		  </ul>
		</form>
	  </div>
	  <!-- /profile_block -->
