<li>
  <header>
    Request Sent: {{booking.created}}
    <span>{{booking.booking_type}}</span>
  </header>
  <div class="img">
    {{# if booking.otherPerson}}
    {{#linkTo user booking.otherPerson}}<img width=73 hight=73 {{bindAttr src=booking.otherPerson.avatarUrl alt=booking.otherPerson.full_name}}>{{/linkTo}}
      <p><span>{{#linkTo user booking.otherPerson}}{{booking.otherPerson.full_name}}{{/linkTo}}}</span></p>
      {{/ if}}
    <div>
      <a>{{friends_in_common.length}} mutual friends</a>
      <ul>
        <li>Friends you have in common</li>
        {{# each booking.otherPerson.friends_in_common}}
        <li>{{# linkTo user this }}<img {{bindAttr src=avatarUrl alt=full_name}}></a><span> {{full_name}}</span>{{/linkTo}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="desc clear">
    <ul>
      <li><span class="icon_date">&nbsp;</span>{{booking.formattedDate}}&nbsp; <span>{{booking.formattedHours}}</span></li>
      <li><span class="icon_friends5">&nbsp;</span>{{booking.num_children}} {{booking.kidsString}}</li>
      <li><a {{bindAttr href=booking.googleMapsLink}} target="_blank"><span class="icon_pin3">&nbsp;</span> {{booking.city}}, {{booking.state}}</a></li>
      <li>
        <p><a {{bindAttr href=booking.otherPerson.mailTo}} >Need more info?<br>Email {{booking.otherPerson.first_name}}</a></p>
        <span class="icon_email2">&nbsp;</span><a {{bindAttr href=booking.otherPerson.mailTo}} >{{booking.otherPerson.email}}</a>
      </li>
    </ul>
    <div class="price">
      <span>
        {{rate}}
      </span>
      {{# if Sitterfied.isParent }}
      <a class="edit_button" {{action 'editBooking' booking }}>edit
      </a>
      {{/if}}
    </div>
    {{# if Sitterfied.isParent }}
      {{# unless booking.canceled}}
      <div class="btn_wrap">
        <a class="button button_smaller button_cancel" {{action 'cancelBooking' booking}}>
          <span class="icon_cancel">&nbsp;
          </span>CANCEL
        </a>
      </div>
      {{/ unless}}
    {{ else }}
      {{# if booking.accepted_sitter }}
        {{# if booking.thisSitterAccepted }}
          <div class="btn_wrap">
            <a class="button button_smaller button_cancel" {{action 'cancelBooking' booking}}>
              <span class="icon_cancel">&nbsp;
              </span>CANCEL
            </a>
          </div>
        {{/ if}}
      {{ else }}
      <div class="btn_wrap">
        <a class="button button_smaller" {{action 'acceptBooking' booking}}>
          <span class="icon_ok2">&nbsp;
          </span>ACCEPT
        </a>
        <a class="button button_smaller button_cancel" {{action 'declineBooking' booking}}>
          <span class="icon_cancel">&nbsp;
          </span>DECLINE
        </a>
      </div>
      {{/ if }}
    {{/ if}}
    <div class="note_wrap">
      <a {{action 'showNote'}}>
        {{# if isNoteShown}}
        <span class="show">Show</span>
        {{ else }}
        <span class="hide">Hide</span>
        {{/if}}
        Note
      </a>
    </div>
  </div>
  <div class="note_desc clear">
    <p>{{booking.note}}</p>
  </div>
  <footer>
    Request Sent: {{booking.created}}
  </footer>
</li>
