<p class="child_number">CHILD 1
</p>
<p class="small_selects">
  <span>FIRST NAME
  </span>
  {{view Ember.TextField valueBinding="child.name" }}
  <span>DATE OF BIRTH
  </span>
  {{view Ember.Select
  contentBinding="Sitterfied.Months"
  optionValuePath="content.value"
  optionLabelPath="content.name"
  valueBinding="child.birthMonth"}}
  {{view Ember.Select contentBinding="Sitterfied.Days" valueBinding="child.birthDay"}}
  {{view Ember.Select contentBinding="Sitterfied.Years" valueBinding="child.birthYear"}}
</p>
<p>
  <span>SCHOOL
  </span>
  {{view Ember.TextField valueBinding="child.school" }}
</p>
<p>
  <span>Special needs?
  </span>
  {{# if controllers.specialneeds.content.content }}
  {{view Sitterfied.Select2
  contentBinding=controllers.specialneeds
  prompt="Select special needs"
  optionLabelPath="content.need"
  optionValuePath="content"
  selectionBinding="child.special_needs"
  multiple="multiple"
  }}
  {{/if}}
  </p>
<p>
  <span class="two_row">Not listed?
    <br />Add another
  </span>{{view Ember.TextField valueBinding="controllers.specialneeds.newNeed"}}
  <a style="top:0px;" class="button button_smaller button_edit" {{action 'saveNeed'}}>
    <span  class="icon_plus">&nbsp;
    </span>ADD
  </a>


</p>
