<li>
  <div class="bookmark"></div>
  <div class="tit">
	<span><strong>${{one_child_min_rate}}</strong> /hr</span>
	{{#linkTo sitter this}}{{full_name}}{{/linkTo}}
  </div>
  <div class="img">
	<div class="heart"></div>
	{{#linkTo sitter this}}<img {{bindAttr img=avatar alt=full_name}} />{{/linkTo}}
    {{# if id_verified }}
	  <span>Background Cleared</span>
    {{/if}}
  </div>
  <ul>
	<li><span class="icon_recommend2">&nbsp;</span>{{recommends.length}} recommends
    <ul>
	  <li>Recommendations</li>
      {{# each reccomends }}
	    <li>{{#linkTo parent reccomend.parent}}<img {{bindAttr img=reccomend.parent.avatar}}  />{{/linkTo}}<span>{{reccomend.parent.full_name}}</span></li>
        {{/each}}
	</ul>
	</li>
	<li><span class="icon_team3">&nbsp;</span>{{sitter_teams.length}} sitter teams
	<ul>
	  <li>Added to sitter teams and repeatedly hired</li>
      {{# each sitter_teams }}
	    <li>{{#linkTo parent this}}<img {{bindAttr img=avatar}}  />{{/linkTo}}<span>{{full_name}}</span></li>
      {{/each}}
	</ul>
	</li>
	<li><span class="icon_reviews">&nbsp;</span>{{reviews.length}} reviews
	<ul>
      {{# if reviews }}
      {{# with reviews.firstObject}}
	  <li class="rev clear">
		{{#linkTo parent parent}}<img {{bindAttr img=parent.avatar}}  />{{/linkTo}}
		<div>
		  <p>{{review}}</p>
		  <p>{{#linkTo sitter sitter}}Read more reviews {{/linkTo}}</p>
		</div>
	  </li>
      {{/with}}
      {{/if}}
	</ul>
	</li>
  </ul>
  <div class="btns clear">
	<div class="select_wrap"><input type="checkbox" class="select5" id="select5" /><label for="select5">Select</label></div>
	<a class="button" {{action book id}}>BOOK</a><a class="button button2" {{action interview id}}>INTERVIEW</a>
	<p><a href="#">ADD TO SITTER TEAM</a></p>
	<p><a href="#">BOOKMARK</a></p>
  </div>
</li>
