<li>
  <div {{action bookmark this}} {{bindAttr class=":bookmark isBookmarked:active"}}></div>
  <div class="tit">
	<span><strong>${{one_child_min_rate}}</strong> /hr</span>
	{{#linkTo sitter this.sitter}}{{full_name}}{{/linkTo}}
  </div>
  <div class="img">
	<div {{action addSitterTeam this}} {{bindAttr class="inSitterTeam:active :heart" }}></div>
	{{#linkTo sitter this.sitter}}<img {{bindAttr src=avatarUrl alt=full_name}} />{{/linkTo}}
    {{# if id_verified }}
	  <span>Background Cleared</span>
    {{/if}}
  </div>
  <ul>
	<li><span class="icon_recommend2">&nbsp;</span>{{recommends.length}} recommends
    <ul>
	  <li>Recommendations</li>
      {{# each reccomends }}
	    <li>{{#linkTo parent reccomend.parent}}<img {{bindAttr src=reccomend.parent.avatarUrl}}  />{{/linkTo}}<span>{{reccomend.parent.full_name}}</span></li>
        {{/each}}
	</ul>
	</li>
	<li><span class="icon_team3">&nbsp;</span>{{sitter_teams.length}} sitter teams
	<ul>
	  <li>Added to sitter teams and repeatedly hired</li>
      {{# each sitter_teams }}
	    <li>{{#linkTo parent this.parent}}<img {{bindAttr src=avatarUrl}}  />{{/linkTo}}<span>{{full_name}}</span></li>
      {{/each}}
	</ul>
	</li>
	<li><span class="icon_reviews">&nbsp;</span>{{reviews.length}} reviews
	<ul>
      {{# if reviews }}
      {{# with reviews.firstObject}}
	  <li class="rev clear">
		{{#linkTo parent parent.parent}}<img {{bindAttr src=parent.avatarUrl}}  />{{/linkTo}}
		<div>
		  <p>{{review}}</p>
		  <p>{{#linkTo sitter sitter.sitter}}Read more reviews {{/linkTo}}</p>
		</div>
	  </li>
      {{/with}}
      {{/if}}
	</ul>
	</li>
  </ul>
  <div class="btns clear">
    {{# if parentController.multipleSitters }}
	  <div class="select_wrap" {{action "selectSitter" this}}>
        <input type="checkbox" {{bindAttr checked=isSelected}} class="select5" />
        <label>
          {{# if isSelected }}
            Unselect
          {{ else }}
            Select
          {{/ if}}
        </label>
      </div>
      {{else}}
	<a class="button" {{action book this}}>BOOK</a><a class="button button2" {{action interview this}}>INTERVIEW</a>
	<p><a {{action addSitterTeam this}}>ADD TO SITTER TEAM</a></p>
    {{/ if}}
	<p>
	  <a {{action bookmark this}}>
	    {{# if isBookmarked}}
	      REMOVE 
	    {{/ if}}
	    BOOKMARK
	  </a>
	</p>
  </div>
</li>

