<ul>
  {{#unless isInterview}}
    <li class="clearfix listwithpricetag price_date_detail">
      <em class="pricetag"><i class="icon-price-tag">&nbsp;</i>${{totalDue}} {{# view Sitterfied.ShowToolTip}}?{{/ view}}</em>
        <strong><span class="icon_date">&nbsp;</span>{{formattedDate}}&nbsp;<span>{{formattedHours}}</span></strong>
        <div class="PriceInfoToolTip">
          <div class="orange">Your card will not be charged until the job is complete</div>
            <div class="PriceInfo">
              <div class="clearfix">
                  <div class="pi-col-1">Rate</div>
                    <div class="pi-col-2">${{sitterCut}}</div>
                    <div class="pi-col-3">${{rate}}/hr x {{hours}} hrs</div>
                </div>
                <!-- TODO transaction fee and promo-->
                <!-- <div class="clearfix">
                  <div class="pi-col-1">Sitterfied</div>
                    <div class="pi-col-2">$6</div>
                    <div class="pi-col-3">Transaction Fee</div>
                </div>
                <div class="clearfix">
                  <div class="pi-col-1">Promo</div>
                    <div class="pi-col-2">-$5</div>
                    <div class="pi-col-3">BETAVIP</div>
                </div> -->
                <div class="clearfix total">
                  <div class="pi-col-1">Total</div>
                    <div class="pi-col-2">${{totalDue}}</div>
                </div>
            </div>
        </div>
    </li>
    <li class="num_children_detail"><span class="icon_friends5">&nbsp;</span>{{num_children}} kids</li>
    <li class="address_detail_book"><span class="icon_pin3">&nbsp;</span>{{address1}} {{address2}} {{city}}, {{state}} {{zip}}</li>
    <li class="phone_detail_book"><span class="icon_phone">&nbsp;</span>{{emergency_phone}}</li>
  {{/unless}}

  {{#if isPhoneInterview}}
    <li class="clearfix price_date_detail">
      <strong><span class="icon_date">&nbsp;</span>{{formattedDate}}&nbsp;<span>{{formattedHours}}</span></strong>
    </li>
    <li class="interview_detail phone_interview_detail">
      <span class="icon_phone">&nbsp;</span>
      {{emergency_phone}}
    </li>
  {{/if}}
  
  {{#if isMeetupInterview}}
    <li class="clearfix price_date_detail">
      <strong><span class="icon_date">&nbsp;</span>{{formattedDate}}&nbsp;<span>{{formattedHours}}</span></strong>
    </li>
    <li class="interview_detail meetup_interview_detail">
      <span class="icon_pin3">&nbsp;</span>
      {{address1}} {{address2}} {{city}}, {{state}}
    </li>
  {{/if}}
</ul>