<li>
  <header>
    Request Sent: {{created}}
    <span>{{booking_type}}</span>
  </header>
  <div class="img">
    {{# if otherPerson}}

      {{# if hasMultipleSitters }}
        <img width=73 hight=73 src="/static/images/WhiteHeart_Avatar.jpg">
         <p><span>Multiple Sitters</span></p>
         {{ else }}
         {{#linkTo user otherPerson}}<img width=73 hight=73 {{bindAttr src=otherPerson.avatarUrl alt=otherPerson.full_name}}>{{/linkTo}}
         <p><span>{{#linkTo user otherPerson}}{{otherPerson.full_name}}{{/linkTo}}</span></p>
       {{/ if}}
      {{/ if}}
      <div>
        {{# unless hasMultipleSitters }}
      <a>{{friends_in_common.length}} mutual friends</a>
      <ul>

        <li>Friends you have in common</li>
        {{# each otherPerson.friends_in_common}}
        <li>{{# linkTo user this }}<img {{bindAttr src=avatarUrl alt=full_name}}></a><span> {{full_name}}</span>{{/linkTo}}</li>
        {{/each}}

      </ul>
      {{/unless}}
    </div>
  </div>
  <div class="desc clear">
    <ul>
      <li><span class="icon_date">&nbsp;</span>{{formattedDate}}&nbsp; <span>{{formattedHours}}</span></li>
      <li><span class="icon_friends5">&nbsp;</span>{{num_children}} {{kidsString}}</li>
      <li><a {{bindAttr href=googleMapsLink}} target="_blank"><span class="icon_pin3">&nbsp;</span> {{city}}, {{state}}</a></li>
      <li>
        <p><a {{bindAttr href=otherPerson.mailTo}} >Need more info?<br>Email {{otherPerson.first_name}}</a></p>
        <span class="icon_email2">&nbsp;</span><a {{bindAttr href=otherPerson.mailTo}} >{{otherPerson.email}}</a>
      </li>
    </ul>
    <div class="price">
      <span>
        {{rate}}
      </span>
    </div>
    {{# unless canceled}}
    {{# if Sitterfied.isParent }}
      <div class="btn_wrap">
        <a class="button button_smaller button_cancel" {{action 'cancelBooking' booking}}>
          <span class="icon_cancel">&nbsp;
          </span>CANCEL
        </a>
      </div>
    {{ else }}
      {{# if accepted_sitter }}
        {{# if thisSitterAccepted }}
          {{# unless isInPast }}
            <div class="btn_wrap">
              <a class="button button_smaller button_cancel" {{action 'cancelBooking' booking}}>
                <span class="icon_cancel">&nbsp;
                </span>CANCEL
              </a>
            </div>
          {{/ unless}}
        {{/ if}}
      {{ else }}
      <div class="btn_wrap">
        <a class="button button_smaller" {{action 'acceptBooking' booking}}>
          <span class="icon_ok2">&nbsp;
          </span>ACCEPT
        </a>
        <a class="button button_smaller button_cancel" {{action 'declineBooking' booking}}>
          <span class="icon_cancel">&nbsp;
          </span>DECLINE
        </a>
      </div>
      {{/ if }}
    {{/ if}}
   {{/ unless}}
    <div class="note_wrap">
      <a {{action 'toggleNote'}} {{bindAttr class=isNoteShown:hide_text}}>
        <span class="show">Show</span>
        <span class="hide">Hide</span>
        Note
      </a>
    </div>
  </div>
  {{#view Sitterfied.SlideDownView class="note_desc clear" toggleBinding=isNoteShown}}
      <p>{{notes}}</p>
  {{/view}}
  <footer>
    Request Sent: {{created}}
  </footer>
</li>
