<div style="display:none">
  <div id="onboarding_final">
	<div class="done_desc clear">
	  <p><img src="/static/images/done.png" alt="" /></p>
	  <ul>
		<li>Add your favorite sitters here for quick access</li>
		<li>Sitters your friends have hired</li>
		<li>Sitters we found in your area</li>
	  </ul>
	</div>
	<div class="sitter_tabs_wrap my_tabs_style">
	  <div class="stabs_block">
		<nav>
		  <ul class="tab_select">
			<li><a href="#">sitter<br />team<span>7</span></a></li>
			<li><a href="#">friends'<br />sitters<span>42</span></a></li>
			<li><a href="#">local<br />sitters<span>519</span></a></li>
		  </ul>
		</nav>
		<div class="friends_block my_friends_sitters">
		  <div class="multiple_sitters_block clear">
			<a href="#" class="close">&nbsp;</a>
			<ul>
			  <li class="team select1"><a href="#">Ellen Vukelich</a><span class="remove"><a href="#" class="select1">&nbsp;</a></span></li>
			  <li>
				<p>+ <a href="#" class="add_sitters">ADD ALL FRIENDS’ SITTERS</a></p>
				<p>- &nbsp;<a href="#" class="remove_team">REMOVE SITTER TEAM</a></p>
			  </li>
			</ul>
			<p>Select from the available sitters below. <a href="#" class="button button_small"><span class="icon_ok2">&nbsp;</span>submit</a></p>
		  </div>
		  <div class="filter_block">
			<p><a href="#">Reset Filters</a></p>
			<form method="post" action="#">
			  <ul class="clear">
				<li><select data-placeholder="Choose languages" multiple tabindex="1"><option>test</option><option>test2</option></select></li>
				<li><select data-placeholder="Education level" multiple tabindex="2"><option>test</option></select></li>
				<li><select data-placeholder="Training/Certifications" multiple tabindex="3"><option>test</option></select></li>
				<li><select data-placeholder="Level of Experience" multiple tabindex="4"><option>test</option></select></li>
				<li><select data-placeholder="Type of Experience" multiple tabindex="5"><option>test</option></select></li>
				<li><select data-placeholder="Other" multiple tabindex="6"><option>test</option></select></li>
			  </ul>
			</form>
			<p><a href="#">Hide Filters</a></p>
		  </div>
		  <div class="sort_filter clear">
			<div class="sort">
			  <a class="sort_trigger" href="#">Sort by</a>
			  <a class="reset_trigger" href="#">Reset Sort</a>
			  <ul>
				<li><a href="#">Bookmarked</a></li>
				<li><a href="#">Rehires</a></li>
				<li><a href="#">Experience</a></li>
				<li><a href="#">Sitter Teams</a></li>
				<li><a href="#">Rate</a></li>
				<li><a href="#">Reviews</a></li>
			  </ul>
			</div>
			<div class="multiple_select"><a href="#">Select multiple sitters</a></div>
			<div class="filter"><a href="#">Filter</a> my sitters</div>
		  </div>
		</div>
	  </div>
	</div>
	<p>When you need a sitter <i>FAST</i>,  click here and let sitters compete for your job</p>
  </div>
  <!-- onboarding_final_popup -->
</div>

<!-- /top note -->
<div class="top_info clear">
  <div class="find_form_block">
	<p>Where and when do you need your sitter?</p>
	<form>
	  <ul class="clear">
		<li>
		  <label for="where">Where</label>
          {{view Ember.TextField valueBinding="zip" placeholder="ZIPCODE"}}
		</li>
		<li>
		  <label for="when">{{# unless overnight }}When{{else}}From{{/unless}}</label>
            {{view Ember.DatePicker placeholder="DATE" id="datepicker" class="datepicker" valueBinding="start_date"}}
		</li>
		<li class="fatselect">
		  <label for="from">From</label>
          {{view Sitterfied.Select2
          contentBinding="Sitterfied.HourBlocks"
          optionLabelPath="content.name"
          optionValuePath="content.value"
          valueBinding="start_time"
          id="from" prompt=""
          }}
		</li>
		<li class="fatselect">
		  <label for="to">To</label>
          {{view Sitterfied.Select2
          contentBinding="Sitterfied.HourBlocks"
          optionLabelPath="content.name"
          optionValuePath="content.value"
          valueBinding="stop_time"
          id="to" prompt=""
          }}
		</li>
		<li class="fatselect">
		  <label for="kids">For</label>
          {{view Sitterfied.Select2
          contentBinding="Sitterfied.Kids"
          optionLabelPath="content.name"
          optionValuePath="content.value"
          valueBinding="kids" prompt=""
          id="for"
          }}
		</li>
		<li>
          <label>&nbsp;</label>
          {{view Sitterfied.AjaxStateButton valueBinding="isLoading" action="findSitters" class="findSitter" saveText="FIND"}}
		</li>
	  </ul>
	</form>
  </div>
</div>
