<div class="container clear">
  <div class="wraper text_topmarg">
    <div class="sitter_wrapper clear">

    <div class="sitter_filter">
    	<h2>Filter</h2>
    	<ul>
<li>
		    {{view Sitterfied.Select2
			    contentBinding=controllers.languages
			    controllerBinding=controllers.languages
			    prompt="Languages"
			    optionLabelPath="content.language"
			    optionValuePath="content"
			    selectionBinding="languages"
			    multiple="multiple"
			    width="style"
		    }}
		  </li>
		  <li>
		    {{view Sitterfied.Select2
			    prompt="Education level"
			    contentBinding=Sitterfied.Educations
			    selectionBinding="highest_education"
			    width="style"
		    }}
		  </li>
		  <li>
		    {{view Sitterfied.Select2
			    contentBinding=controllers.certifications
			    prompt="Training/Certifications"
			    optionLabelPath="content.certification"
			    optionValuePath="content"
			    selectionBinding="certifications"
			    multiple="multiple"
			    width="style"
		    }}
		  </li>
  
		  <li>
		    {{view Sitterfied.Select2
			    prompt="Level of Experience"
			    multiple="multiple"
			    width="style"
		    }}
		  </li>
		  <li>
		    {{view Sitterfied.Select2
			    prompt="Type of Experience"
			    multiple="multiple"
			    width="style"
		    }}
		  </li>
		  <li>
		    {{view Sitterfied.Select2
			    contentBinding=controllers.otherServices
			    prompt="Other"
			    optionLabelPath="content.service"
			    optionValuePath="content"
			    selectionBinding="services"
			    multiple="multiple"
			    width="style"
		    }}
		  </li>
    	</ul>
    </div>

    <div class="sitter_results">
      
      {{# if content }}

	    <ul>
	      {{# each controller }}
	      	{{# if passesFilters }}
	            {{ partial sitterSearch }}
	        {{/ if}}
	      {{/ each}}
	    </ul>
      </div>
    
      <!-- Interview popup -->
      {{ partial interview_popup }}
    
      <!-- /sitter_tabs_wrap -->
      {{else}}
	{{# if searched }}
	  {{# unless content }}
	    <!-- no_results -->
	    <div class="no_results clear">
	      <p>It appears no sitters are available right now.</p>
	      <p>Here are a couple things you can do:</p>
	      <ul>
		<li>
		  <p>
		    {{#linkTo parentEdit.network Sitterfied.currentUser class="button"}}Invite{{/linkTo}}
		  </p>
		  <p>
		    Invite your friends and discover great sitters together. We’ll even reward you and your friends with free months as they join Sitterfied
		  </p>
		</li>
		<li style="visibility: hidden;">
		</li>
		<li>
		  <p>
		    {{#linkTo parentEdit.network Sitterfied.currentUser class="button" }}Connect{{/linkTo}}
		  </p>
		  <p>
		    Connect with your existing social networks to find great sitters through your friends
		  </p>
		</li>
	      </ul>
	    </div>
	  {{/unless}}
	{{/if}}
	<!-- /no_results -->
      {{/if}}
    </div>
    </div>
  </div>
</div>
