<div class="container clear">
  <div class="wraper">
	<!-- sitter_tabs_wrap -->

    <div class="sitter_tabs_wrap my_tabs_style">
	  <div class="stabs_block" id="fixed_tabs">
		<nav>
		  <ul class="tab_select">
			<li class="active"><a {{action 'zoomToSitterTeam'}}>sitter<br />team<span>{{filteredSitterTeam.length}}</span></a></li>
			<li><a {{action 'zoomToFriendTeam'}}>friends'<br />sitters<span>{{filteredFriendTeam.length}}</span></a></li>
			<li><a {{action 'zoomToLocalTeam'}}>local<br />sitters<span>{{filteredLocalTeam.length}}</span></a></li>
		  </ul>
		</nav>
		<div class="friends_block my_friends_sitters">
          {{#view Sitterfied.SlideDownView class="multiple_sitters_block clear" toggleBinding="multipleSitters"}}
			<a {{action "toggleMultipleSitters"}} class="close">&nbsp;</a>
			<ul>
              {{# each controller}}
                {{# if isSelected}}
			    <li {{bindAttr class="selectTeamClass"}}>{{# linkTo sitter this}}{{full_name}}{{/ linkTo}}<span class="remove"><a {{action "selectSitter" this}} class="select1">&nbsp;</a></span></li>
                {{/ if}}
              {{/ each}}
              <li>
				<p>+ <a {{action "addFriendsSitters"}}class="add_sitters">ADD ALL FRIENDS’ SITTERS</a></p>
				<p>- &nbsp;<a {{action "clearSelected"}} class="remove_team">REMOVE SITTER TEAM</a></p>
			  </li>
			</ul>
			<p>Select from the available sitters below. <a {{action book selectedSitters.content }} class="button button_small"><span class="icon_ok2">&nbsp;</span>submit</a></p>
          {{/ view}}


          {{#view Sitterfied.SlideDownView class="filter_block" toggleBinding="filterSitters"}}
			<p><a {{action 'resetFilters'}}>Reset Filters</a></p>
			<form method="post" action="#">
			  <ul class="clear">
                <li>
                      {{view Sitterfied.Select2
                      contentBinding=controllers.languages
                      controllerBinding=controllers.languages
        	          prompt="Select languages"
                      optionLabelPath="content.language"
                      optionValuePath="content"
                      selectionBinding="languages"
                      multiple="multiple"
                      }}
                </li>
                <li>
                  {{view Sitterfied.Select2
                     prompt="Education level"
                     contentBinding=Sitterfied.Educations
                     selectionBinding="highest_education"
                  }}
                </li>
                <li>
                      {{view Sitterfied.Select2
                      contentBinding=controllers.certifications
        	          prompt="Training/Certifications"
                      optionLabelPath="content.certification"
                      optionValuePath="content"
                      selectionBinding="certifications"
                      multiple="multiple"
                      }}
                </li>

				<li>
                  {{view Sitterfied.Select2
                  prompt="Level of Experience"
                  multiple="multiple"
                  }}
                </li>
                <li>
                  {{view Sitterfied.Select2
                  prompt="Type of Experience"
                  multiple="multiple"
                  }}
                </li>
                <li>
                    {{view Sitterfied.Select2
                    contentBinding=controllers.otherServices
        	        prompt="Other"
                    optionLabelPath="content.service"
                    optionValuePath="content"
                    selectionBinding="services"
                    multiple="multiple"
                    }}
                </li>
			  </ul>
			</form>
			<p><a {{action "toggleFilterSitters"}}>Hide Filters</a></p>
          {{/ view}}


		  <div class="sort_filter clear">
			<div class="sort"><a href="#">Sort by</a></div>
			<div class="multiple_select"><a {{action "toggleMultipleSitters"}}>Select multiple sitters</a></div>
			<div class="filter"><a {{action "toggleFilterSitters"}}>Filter</a> my sitters</div>
		  </div>
		</div>
	  </div>
      {{# if content }}
        <section id="sitterteam">
          <div class="mob_tab_trigger my_mob_tab">sitter<br />team<span>{{filteredSitterTeam.length}}</span></div>
		  <div class="my_sitter_team">
			<div class="sitter_title">
			  <p><span><span class="icon_heart2">&nbsp;</span>sitter<br />team</span><strong>{{filteredSitterTeam.length}}</strong></p>
			</div>
            <ul class="clear">
              {{# each sitter in controller}}
                {{# if sitter.inSitterTeam }}
                  {{# if sitter.passesFilters }}
                    {{ partial sitterTeam }}
                  {{/ if}}
                {{/ if}}
              {{/each}}
            </ul>
          </div>
        </section>

	  <!-- my_friends_sitters -->
	  <section id="friendteam">
		<div class="mob_tab_trigger my_mob_tab">friends'<br />sitters<span>{{filteredFriendTeam.length}}</span></div>
		<div class="friends_block my_friends_sitters">
		  <div class="sitter_title">
			<p><span><span class="icon_heart2">&nbsp;</span>friends’<br />sitters</span><strong>{{filteredFriendTeam.length}}</strong></p>
		  </div>
		  <ul class="clear">
            {{# each controller }}
              {{# if inFriendsTeam }}
                {{# if passesFilters }}
                  {{ partial sitterSearch }}
                {{/ if}}
              {{/ if}}
            {{/ each}}
		  </ul>
		</div>
	  </section>
	  <!-- /my_friends_sitters -->

	  <!-- my_local_sitters -->
	  <section id="localteam">
		<div class="mob_tab_trigger my_mob_tab">local<br />sitters<span>{{filteredLocalTeam.length}}</span></div>
		<div class="friends_block my_local_sitters">
		  <div class="sitter_title">
			<p><span><span class="icon_pin2">&nbsp;</span>local<br />sitters</span><strong>{{filteredLocalTeam.length}}</strong></p>
		  </div>
		  <ul class="clear">
            {{# each controller }}
              {{# if inLocalTeam }}
                {{# if passesFilters }}
                  {{ partial sitterSearch }}
                {{/ if}}
              {{/ if}}
            {{/ each}}
		  </ul>
		</div>
	  </section>
	  <!-- /my_local_sitters -->

	</div>
	<!-- /sitter_tabs_wrap -->
    {{else}}
	<!-- no_results -->
	<div class="no_results clear">
	  <p>We’re not in your neighborhood just yet.</p>
	  <p>Here are a few things you can do right now.</p>
	  <ul>
		<li>
		  <p><a href="#" class="button">Invite</a></p>
		  <p>Invite your friends and discover great sitters together. We’ll even reward you and your friends with free months as they join Sitterfied</p>
		</li>
		<li>
		  <p><a href="#" class="button">Connect</a></p>
		  <p>Connect with your existing social networks to find great sitters through your friends</p>
		</li>
		<li>
		  <p><a href="#" class="button">Sign Up</a></p>
		  <p>Sign up to follow our progress and we’ll let you know when great sitters are added to your area</p>
		</li>
	  </ul>
	</div>
	<!-- /no_results -->
    {{/if}}
  </div>
</div>