<div class="container clear">
  <div class="wraper">
	<!-- sitter_tabs_wrap -->

    <div class="sitter_tabs_wrap my_tabs_style">
	  <div class="stabs_block" id="fixed_tabs">
		<nav>
		  <ul class="tab_select">
			<li class="active"><a {{action 'zoomToSitterTeam'}}>sitter<br />team<span>{{sitterTeam.length}}</span></a></li>
			<li><a {{action 'zoomToFriendTeam'}}>friends'<br />sitters<span>{{friendTeam.length}}</span></a></li>
			<li><a {{action 'zoomToLocalTeam'}}>local<br />sitters<span>{{localTeam.length}}</span></a></li>
		  </ul>
		</nav>
		<div class="friends_block my_friends_sitters">
          {{#view Sitterfied.SlideDownView toggleBinding="multipleSitters"}}
		  <div class="multiple_sitters_block clear">
			<a {{action "toggleMultipleSitters"}} class="close">&nbsp;</a>
			<ul>
              {{# each selectedSitters}}
			    <li {{bindAttr class=":team selectTeamClass"}}>{{# linkTo sitter this}}{{full_name}}{{/ linkTo}}<span class="remove"><a {{action "selectSitter" this}} class="select1">&nbsp;</a></span></li>
              {{/ each}}
              <li>
				<p>+ <a {{action "addFriendsSitters"}}class="add_sitters">ADD ALL FRIENDS’ SITTERS</a></p>
				<p>- &nbsp;<a {{action "clearSelected"}} class="remove_team">REMOVE SITTER TEAM</a></p>
			  </li>
			</ul>
			<p>Select from the available sitters below. <a {{action book selectedSitters.content }} class="button button_small"><span class="icon_ok2">&nbsp;</span>submit</a></p>
		  </div>
          {{/view}}

		  <div class="filter_block">
			<p><a href="#">Reset Filters</a></p>
			<form method="post" action="#">
			  <ul class="clear">
				<li><select data-placeholder="Choose languages" multiple tabindex="1"><option>test</option><option>test2</option></select></li>
				<li><select data-placeholder="Education level" multiple tabindex="2"><option>test</option></select></li>
				<li><select data-placeholder="Training/Certifications" multiple tabindex="3"><option>test</option></select></li>
				<li><select data-placeholder="Level of Experience" multiple tabindex="4"><option>test</option></select></li>
				<li><select data-placeholder="Type of Experience" multiple tabindex="5"><option>test</option></select></li>
				<li><select data-placeholder="Other" multiple tabindex="6"><option>test</option></select></li>
			  </ul>
			</form>
			<p><a href="#">Hide Filters</a></p>
		  </div>

		  <div class="sort_filter clear">
			<div class="sort"><a href="#">Sort by</a></div>
			<div class="multiple_select"><a {{action "toggleMultipleSitters"}}>Select multiple sitters</a></div>
			<div class="filter"><a href="#">Filter</a> my sitters</div>
		  </div>
		</div>
	  </div>
      {{# if content }}
        <section id="sitterteam">
          <div class="mob_tab_trigger my_mob_tab">sitter<br />team<span>{{sitterTeam.length}}</span></div>
		  <div class="my_sitter_team">
			<div class="sitter_title">
			  <p><span><span class="icon_heart2">&nbsp;</span>sitter<br />team</span><strong>{{sitterTeam.length}}</strong></p>
			</div>
            <ul class="clear">
              {{# each sitter in controller}}
                {{# if sitter.inSitterTeam }}
                  {{ partial sitterTeam }}
                {{/ if}}
              {{/each}}
            </ul>
          </div>
        </section>

	  <!-- my_friends_sitters -->
	  <section id="friendteam">
		<div class="mob_tab_trigger my_mob_tab">friends'<br />sitters<span>{{friendTeam.length}}</span></div>
		<div class="friends_block my_friends_sitters">
		  <div class="sitter_title">
			<p><span><span class="icon_heart2">&nbsp;</span>friends’<br />sitters</span><strong>{{friendTeam.length}}</strong></p>
		  </div>
		  <ul class="clear">
            {{# each controller }}
              {{# if inFriendsTeam }}
                  {{ partial sitterSearch }}
                {{/ if}}
              {{/ each}}
		  </ul>
		</div>
	  </section>
	  <!-- /my_friends_sitters -->

	  <!-- my_local_sitters -->
	  <section id="localteam">
		<div class="mob_tab_trigger my_mob_tab">local<br />sitters<span>{{localTeam.length}}</span></div>
		<div class="friends_block my_local_sitters">
		  <div class="sitter_title">
			<p><span><span class="icon_pin2">&nbsp;</span>local<br />sitters</span><strong>{{localTeam.length}}</strong></p>
		  </div>
		  <ul class="clear">
            {{# each controller }}
                {{# if inLocalTeam }}
                  {{ partial sitterSearch }}
                {{/ if}}
              {{/ each}}
		  </ul>
		</div>
	  </section>
	  <!-- /my_local_sitters -->

	</div>
	<!-- /sitter_tabs_wrap -->
    {{else}}
	<!-- no_results -->
	<div class="no_results clear">
	  <p>We’re not in your neighborhood just yet.</p>
	  <p>Here are a few things you can do right now.</p>
	  <ul>
		<li>
		  <p><a href="#" class="button">Invite</a></p>
		  <p>Invite your friends and discover great sitters together. We’ll even reward you and your friends with free months as they join Sitterfied</p>
		</li>
		<li>
		  <p><a href="#" class="button">Connect</a></p>
		  <p>Connect with your existing social networks to find great sitters through your friends</p>
		</li>
		<li>
		  <p><a href="#" class="button">Sign Up</a></p>
		  <p>Sign up to follow our progress and we’ll let you know when great sitters are added to your area</p>
		</li>
	  </ul>
	</div>
	<!-- /no_results -->
    {{/if}}
  </div>
</div>