<div class="container clear">
  <div class="wraper">

	<!-- network_block -->
	<div class="network_block">
	  <ul class="soc_psg_list soc_psg_list_single clear">
		<li>
		  <ul>
			<li>Mutual Parent Friends ({{parent_friends_in_common.length}})</li>
            {{# each parent_friends_in_common }}
			<li>{{# linkTo parent this}}<img {{bindAttr src=avatarUrl alt=full_name}} />{{/linkTo}}{{# linkTo parent this}}{{full_name}}{{/linkTo}}</li>
            {{/each }}
		  </ul>
		</li>
		<li>
		  <ul>
			<li>Mutual Sitter Friends ({{sitter_friends_in_common.length}})</li>
            {{# each sitter_friends_in_common }}
			<li>{{# linkTo sitter this}}<img {{bindAttr src=avatarUrl alt=full_name}} />{{/linkTo}}{{# linkTo sitter this}}{{full_name}}{{/linkTo}}</li>
            {{/each }}
		  </ul>
		</li>
		<li>
		  <ul>
			<li>Mutual Groups (3)</li>
			<li><a href="#">Hoboken Catholic Church</a> <a href="#" class="delete">&nbsp;</a></li>
			<li><a href="#">St Francis Prep School</a> <a href="#" class="delete">&nbsp;</a></li>
			<li><a href="#">Hoboken Mommies</a> <a href="#" class="delete">&nbsp;</a></li>
		  </ul>
		</li>
	  </ul>
	</div>
	<!-- /network_block -->

  </div>
</div>