<div class="container clear">
  <div class="wraper">

	<!-- network_block -->
	<div class="network_block">
	  <ul class="soc_psg_list soc_psg_list_single clear">
		<li>
		  <ul>
			<li>Mutual Parent Friends ({{parent_friends_in_common.length}})</li>
            {{# each parent_friends_in_common }}
			<li>{{# linkTo parent this.parent}}<img  class="avatarimage" {{bindAttr src=avatarUrl alt=full_name}} />{{/linkTo}}{{# linkTo parent this.parent}}{{full_name}}{{/linkTo}}</li>
            {{/each }}
		  </ul>
		</li>
		<li>
		  <ul>
			<li>Mutual Sitter Friends ({{sitter_friends_in_common.length}})</li>
            {{# each sitter_friends_in_common }}
			<li>{{# linkTo sitter this.sitter}}<img class="avatarimage"  {{bindAttr src=avatarUrl alt=full_name}} />{{/linkTo}}{{# linkTo sitter this.sitter}}{{full_name}}{{/linkTo}}</li>
            {{/each }}
		  </ul>
		</li>
		<li>
		  <ul>
			<li>Mutual Groups ({{groups_in_common.length}})</li>
            {{# each groups_in_common }}
			<li>{{name}}</li>
			{{/each }}
		  </ul>
		</li>
	  </ul>
	</div>
	<!-- /network_block -->
  </div>
</div>
