{{# if Sitterfied.currentUser.isParent}}
  {{# linkTo search class="back"}}Back to search{{/linkTo}}
{{ else }}
  {{# linkTo sitterEdit.network currentUser class="back"}}Back to your network{{/linkTo}}
{{/ if}}

<!-- top info -->
<div class="top_info clear">
  <!--<div class="member_since guest"></div>   // If guest user "guest" clase conditionally -->
  <div class="member_since">{{memberSince}}</div>
  
  <div class="photo">
    <div class="photo_edit_wrap"">
		<!-- Developer: make this image dynamic -->
		<img alt="" src="http://www.ucarecdn.com/b886fd6f-98d9-4459-8f96-9a781b3d1e9b/-/crop/2336x2336/1168,0/-/resize/x174/">
    </div>
  </div>
  <div class="guest_top_info">
    <p>{{full_name}}</p>
    <p>{{children.length}} Children &nbsp;|&nbsp; {{city}}, {{state}}</p>
  </div>
  <div class="know">
    {{initializeFriend}}
    
    {{#if isFriend }}
      <span class="know-statement">{{first_name}} is in your network</span>
      <a {{action removeFriend this }} class="button button_cancel removefriend">
	<span class="icon_cancel">
	  &nbsp;
	</span>
	<span class="networktext">
	  REMOVE
	</span>
      </a>
    {{else}}
      <span class="know-statement">{{first_name}} is not in your network</span>
      <a {{action addFriend this }} class="button addfriend">
	<span class="icon_plus">
	  &nbsp;
	</span>
	<span class="networktext">
	  ADD
	</span>
      </a>
    {{/if}}
  </div>
</div>
<!-- /top info -->

<!-- quick_info_list -->
{{# view Sitterfied.FixedView class="quick_info_list clear" id="fixed_tabs" }}
  <ul>
    <li><strong>{{friendLength}}</strong> friends</li>
    <li><strong>{{sitter_groups.length}}</strong>groups</li>
  </ul>
{{/ view}}
<!-- /quick_info_list -->
