{{# linkTo search class="back"}}Back to search results{{/linkTo}}
<!-- top info -->
<div class="top_info clear">
  <div class="photo">
	<div class="photo_edit_wrap" style="background-image: url('{{unbound avatarUrl}}');">
	</div>
  </div>
  <div class="guest_top_info">
	<p>{{full_name}}</p>
	<p>{{children.length}} Children &nbsp;|&nbsp; {{city}}, {{state}}</p>
	<div class="know">
	  <p>Do you know {{first_name}}?</p>
	  <p>
		<a {{action addFriend }} class="button addfriend">
		  <span class="icon_plus">&nbsp;
		  </span><span class="networktext">ADD TO NETWORK</span>
		</a>

      </p>
	</div>
  </div>
</div>
<!-- /top info -->
<!-- quick_info_list -->
{{# view Sitterfied.FixedView class="quick_info_list clear" id="fixed_tabs" }}
<ul>
	<li><strong>{{myFriends.length}}</strong> friends</li>
	<li><strong>{{sitter_groups.length}}</strong>groups</li>
  </ul>
{{/ view}}
<!-- /quick_info_list -->
