<div class="container clear">
  <div class="wraper">
	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li>{{#linkTo parentEdit.profile }}Profile{{/linkTo}}</li>
		<li>{{#linkTo parentBookings }}Bookings{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.sitterTeam }}Sitter Team{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.network }}Network{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.reviews }}Reviews{{/linkTo}}</li>
	  </ul>
      {{# view Sitterfied.MobTriggerView }} Bookings {{/ view}}
        <div class="tab_content bookings_block" id="tab-3">
	      <ul class="subtab_select">
	        <li>{{# linkTo parentBookings.pending }}<span>{{pendingRequests.length}}</span>Pending Requests{{/ linkTo }}</li>
	          <li><a {{action zoomToUpcoming}}><span>{{upcomingJobs.length}}</span>Upcoming Jobs</a></li>
	          <li><a {{action zoomToCompleted}}"><span>{{completedJobs.length}}</span>Completed Jobs</a></li>
	          <li><a {{action zoomToMissed}}><span>{{missedRequests.length}}</span>Missed Requests</a></li>
	          <li><a {{action zoomToDeclined}}><span>{{declinedRequests.length}}</span>Declined Jobs</a></li>
	          <li><a {{action zoomToCanceled }}><span>{{canceledRequests.length}}</span>Canceled Jobs</a></li>
	      </ul>
          {{outlet }}
        </div>
	</div>
  </div>
</div>
