<!-- network_block -->
{{# view Sitterfied.MobTriggerView }} Network {{/ view}}
	  <div class="tab_content network_block" id="tab-4">
		<div class="soc_list clear">
		  <p>Find people you know on Sitterfied</p>
		  <ul>
			<li>
			  <p class="clear">
                 <span {{action facebookConnect}}>
                  <a >
                    <img src="/static/images/icons/facebook.png" alt="" />Facebook
                  </a>
                </span>
                <a href="#">
                  <img src="/static/images/icons/gmail.png" alt="" />Gmail
                </a>
              </p>
			  <p>Connect</p>
			</li>
			<li>
			  <p>
                {{view Ember.TextField placeholder="Search a person or group"}}
                <input type="submit" value="ADD" /></p>
			  <p>Search</p>
			</li>
			<li>
			  <p><a href="#">Invite Your Friends</a></p>
			  <p>Invite</p>
			</li>
		  </ul>
		</div>
		<ul class="soc_psg_list clear">
          {{# with controllers.friends }}
		  <li>
			<ul>
			  <li>Parents</li>

              {{# each parents }}
		        <li>{{#linkTo parent this}}<img src="/static/images/demo/img15.jpg" alt="" />{{full_name}}{{/linkTo}}</li>
              {{/each}}
			</ul>
		  </li>
		  <li>
			<ul>
			  <li>Sitters</li>
              {{# each sitters }}
		        <li>{{#linkTo sitter this}}<img src="/static/images/demo/img15.jpg" alt="" />{{full_name}}{{/linkTo}}</li>
              {{/each}}
			</ul>
		  </li>
          {{/with}}
		  <li>
			<ul>
			  <li>Groups</li>
              {{# each sitter_groups}}
		        <li>{{#linkTo }}<img src="/static/images/demo/img15.jpg" alt="" />{{name}}{{/linkTo}}</li><a {{action deleteGroup this}} class="delete">&nbsp;</a>
              {{/each}}
			</ul>
		  </li>
		</ul>
	  </div>
	  <!-- /network_block -->
