{{# if Sitterfied.isParent }}
  {{#linkTo parentEdit.profile tag="div" class="mob_tab_trigger"}}Profile{{/linkTo}}
  {{#linkTo mybookings tag="div" class="mob_tab_trigger"}}Bookings{{/linkTo}}
  {{#linkTo parentEdit.sitterTeam tag="div" class="mob_tab_trigger"}}Sitter Team{{/linkTo}}
{{/if}}
<!-- network_block -->
{{# view Sitterfied.MobTriggerView }} Network {{/ view}}
	  <div class="tab_content network_block" id="tab-4">
		<div class="soc_list clear">
		  <p>Find people you know on Sitterfied</p>
		  <ul>
			<li>
			  <p class="clear">
                 <span {{action facebookConnect}}>
                  <a >
                    <img src="/static/images/icons/facebook.png" alt="" />Facebook
                  </a>
                </span>
                <a {{action gmailConnect}}>
                  <img src="/static/images/icons/gmail.png" alt="" />Gmail
                </a>
              </p>
			  <p>Connect</p>
			</li>
			<li>
              {{# view Sitterfied.NetworkDropDown tagName="p"}}
              <input type="text" id="autocomplete" placeholder="Search a person or group">
              <input type="submit" value="ADD" {{action add target="view"}} /></p>
              {{/ view}}
			  <p>Search</p>
			</li>
			<li>
			  <p><a href="#">Invite Your Friends</a></p>
			  <p>Invite</p>
			</li>
		  </ul>
		</div>
		<ul class="soc_psg_list clear">
          {{# with myFriends }}
		  <li>
			<ul>
			  <li>Parents</li>
              {{# each }}
                {{# if isParent }}
		          <li>{{#linkTo parent this.parent}}<img class="avatarimage" {{bindAttr src=avatarUrl alt=full_name}} />{{full_name}}{{/linkTo}} <a {{action removeFriend this.id }} class="delete">&nbsp;</a></li>
                {{/ if }}
              {{/each}}
			</ul>
		  </li>
		  <li>
			<ul>
			  <li>Sitters</li>
              {{# each }}
                {{# if isSitter }}
		          <li>{{#linkTo sitter.snapshot this.sitter}}<img class="avatarimage"  {{bindAttr src=avatarUrl alt=full_name}} />{{full_name}}{{/linkTo}}<a {{action removeFriend this.id }} class="delete">&nbsp;</a></li>
                {{/ if}}
              {{/each}}
			</ul>
		  </li>
          {{/with}}
		  <li>
			<ul>
			  <li>Groups</li>
              {{# each sitter_groups}}
		        <li>{{name}}<a {{action deleteGroup this }} class="delete">&nbsp;</a></li>
              {{/each}}
			</ul>
		  </li>
		</ul>
	  </div>
	  <!-- /network_block -->
{{# if Sitterfied.isParent }}
  {{#linkTo parentEdit.reviews tag="div" class="mob_tab_trigger"}}Reviews{{/linkTo}}
{{ else }}
  {{#linkTo sitterEdit.reviews tag="div" class="mob_tab_trigger"}}Reviews{{/linkTo}}
{{/ if }}
