{{# if Sitterfied.isParent }}
  {{#linkTo parentEdit.profile  tag="div" class="mob_tab_trigger"}}Profile{{/linkTo}}
  {{#linkTo mybookings  tag="div" class="mob_tab_trigger"}}Bookings{{/linkTo}}
  {{#linkTo parentEdit.sitterTeam  tag="div" class="mob_tab_trigger"}}Sitter Team{{/linkTo}}
  {{#linkTo parentEdit.network  tag="div" class="mob_tab_trigger"}}Network{{/linkTo}}
{{/ if }}

<!-- reviews_block -->
{{# view Sitterfied.MobTriggerView }} Reviews {{/ view}}
  <div class="tab_content reviews_block" id="tab-5" onload=>
    {{update_reviews}}
    
    {{# if isParent }}
      <div class="review_message_intro">
        Reviews are written after completion of a job.  Please take a minute to let the
        Sitterfied community know about the sitters you've hired.
      </div>
      <div class="edit_reviews">
        {{# each sitters_to_review }}
          <div class="sitter_review">
            <img {{bindAttr src="avatarUrl"}} alt="" />
            <div class="reco clear">
              <a {{action 'openReviewPopup' this}}>
                REVIEW
                <span class="review_first_name">{{first_name}}</span>
              </a>
            </div>
          </div>
        {{else}}
          <div class="sitter_review empty_to_review">
            No one to review at this time.  Time to book another sitter!
          </div>
        {{/each}}
      </div>
    {{/if }}
    
    <ul class="clear">
      {{# each reviews}}
        {{partial "review"}}
      {{/each}}
    </ul>
  </div>
<!-- /reviews_block -->
