<div class="container clear page-payment-settings">
  <div class="wraper notify_wraper notify_done">
	<p>Now, sit back and let Sitterfied reach out to your sitter for confirmation.</p>
    <div class="notification-block-inner">
      <ul class="clearfix">
        <li class="notificationlist-1">
          {{#unless isInterview}}
          <div class="notification-price clearfix">
            <i class="icon-price-tag">&nbsp;</i>
            At the end of the job, <span>${{totalDue}}</span> will be charged to 
  your {{#if parent.is_credit_card}}card (ending in xxxx-{{parent.masked_number4}}){{else}}Paypal account{{/if}}
          </div>
          {{/unless}}
          <div class="notification-date clearfix">
            <span class="icon_date">&nbsp;</span>{{formattedDateDone}}&nbsp;<span>{{formattedHours}}</span>
          </div>
        </li>
        {{#unless isInterview}}
          <li class="notificationlist-2"><span class="icon_friends5">&nbsp;</span>{{num_children}} Kids</li>
          <li class="notificationlist-3"><span class="icon_pin3">&nbsp;</span>{{address1}} {{address2}} {{city}}, {{state}} {{zip}}</li>
        {{/unless}}
        
        {{#if isPhoneInterview}}
          <li class="interview_detail phone_interview_detail">
            <span class="icon_phone">&nbsp;</span>
            {{emergency_phone}}
          </li>
        {{/if}}
        
        {{#if isMeetupInterview}}
          <li class="interview_detail meetup_interview_detail">
            <span class="icon_pin3">&nbsp;</span>{{address1}} {{address2}} {{city}}, {{state}} {{zip}}</li>
          </li>
        {{/if}}
      </ul>
    </div>
    <p class="booking-button clearfix">{{#linkTo mybookings class="button" }}Go to bookings{{/linkTo}}</p>
  </div>
</div>